.input-group {
  border-bottom: 2px solid var(--gray-200);
  transition: border-color 0.2s;
}

.has-focus {
  border-color: var(--gray-800);
}

label {
  color: var(--gray-900);
  font-weight: 600;
  font-size: 0.9rem;
}

input {
  background: transparent;
  border: none;
  border-radius: 0;
  outline: none;
  color: var(--gray-900);
  padding: 0.5rem 0.2rem;
  font-size: 0.9rem;
  font-weight: 600;

  &:focus {
    box-shadow: none;
    background: transparent;
  }
}
