.input-group {
  border-bottom: 2px solid var(--gray-200);
  transition: border-color 0.2s;
}

.has-focus {
  border-color: var(--gray-800);
}

label {
  color: var(--gray-900);
  font-weight: 600;
  font-size: 0.9rem;
}
